.App {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  overflow: scroll;
  text-align: center;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: white;
  position: relative;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  /* background-color: #60c657; */
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  animation: color-change 60s infinite;
}

@keyframes color-change {
  0% {
    color: #fea47f;
  }
  5% {
    color: #f97f51;
  }
  10% {
    color: #b33771;
  }
  15% {
    color: #6d214f;
  }
  20% {
    color: #eab543;
  }
  25% {
    color: #f8efba;
  }
  30% {
    color: #fd7272;
  }
  35% {
    color: #fc427b;
  }
  40% {
    color: #cad3c8;
  }
  45% {
    color: #2c3a47;
  }
  50% {
    color: #d6a2e8;
  }
  55% {
    color: #82589f;
  }
  60% {
    color: #25ccf7;
  }
  65% {
    color: #1b9cfc;
  }
  70% {
    color: #3b3b98;
  }
  75% {
    color: #182c61;
  }
  80% {
    color: #55e6c1;
  }
  85% {
    color: #58b19f;
  }
  90% {
    color: #9aecdb;
  }
  95% {
    color: #bdc581;
  }

  100% {
    color: #fea47f;
  }
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  /* padding-bottom: 45px; */
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
